@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300');

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 4rem;
}

.footer {
  width: 100%;
  padding: 0 0 6em 0;
}

code {
  font-family: 'Source Code Pro', monospace;
  font-size: 0.8rem;
}

iframe {
  max-width: 100%;
}

.no-decoration {
  text-decoration: none;
}

.site-navbar div ul li {
  line-height: 1;
  margin-left: 1em;
  padding-left: 1em;
  font-size: 0.9rem;
}

.post-meta {
  margin-bottom: 1rem;
  display: table;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
}

.post-meta-item {
  margin-right: 10px;
  float: left;
}

.post-meta-item > a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}

.blog-masthead {
  margin-bottom: 3rem;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -.1rem .25rem rgba(0, 0, 0, .1);
  box-shadow: inset 0 -.1rem .25rem rgba(0, 0, 0, .1);
}

.navbar-light .navbar-nav .nav-link {
  padding: 0.5rem;
  color: rgba(0, 0, 0, 0.9);
}

.blog-header {
  margin-bottom: 1rem;
}

h1.post-title {
  padding-top: 1em;
}

h2.post-title {
  padding-top: 0.5em;
  text-decoration: none;
}

.post-more-link {
  margin-top: 0px;
}

.post-container li {
  margin-left: 3em;
}

/* Responsive video? */
.sidebar > .card {
  -webkit-box-shadow: inset 0 0 0 0px rgba(0, 0, 0, .125);
  box-shadow: inset 0 0 0 0px rgba(0, 0, 0, .125);
  background-color: inherit;
  border: 0px;
  padding-bottom: 1.5rem;
}

.sidebar > .card-block {
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
}

.widget {
  word-wrap: break-word;
  font-size: 0.85em;
}

.widget ul, .widget ol {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.widget ul ul, .widget ol ul, .widget ul ol, .widget ol ol {
  margin: 0 20px;
}

.widget ul ul, .widget ol ul {
  list-style: disc;
}

.widget ul ol, .widget ol ol {
  list-style: decimal;
}

.category-list-count, .tag-list-count, .archive-list-count {
  padding-left: 5px;
  font-size: 0.85em;
}

.category-list-count:before, .tag-list-count:before, .archive-list-count:before {
  content: "(";
}

.category-list-count:after, .tag-list-count:after, .archive-list-count:after {
  content: ")";
}

.category-list-item > a {
  text-transform: capitalize;
}

.widget a {
  text-decoration: none;
  text-transform: capitalize;
}

.widget ul ul, .widget ol ul, .widget dl ul, .widget ul ol, .widget ol ol, .widget dl ol, .widget ul dl, .widget ol dl, .widget dl dl {
  margin-left: 15px;
  list-style: disc;
}

.widget ul, .widget ol {
  list-style: none;
}

.widget ul li, .widget ol li, .widget ul .category-list-child, .widget ol .category-list-child {
  font-size: 0.9rem;
  border-bottom: 1px solid border-color;
}

.widget ul ul, .widget ol ul, .widget ul ol, .widget ol ol {
  list-style: none;
}

.widget ul ul li, .widget ol ul li, .widget ul ol li, .widget ol ol li {
  border: none;
}

.widget ul ul li:last-child, .widget ol ul li:last-child, .widget ul ol li:last-child, .widget ol ol li:last-child {
  padding-bottom: 0px;
}

.widget ul:not(#recent-post) li a:before, .widget ol:not(#recent-post) li a:before {
  color: #ccc;
  content: "\f0da";
  font-size: 0.8rem;
  margin-right: 6px;
  font-family: FontAwesome;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  transition: 0.2s ease;
}

#recent-post li {
  padding: 5px 0 5px 85px;
}

#recent-post li:before, #recent-post li:after {
  content: "";
  display: table;
}

#recent-post li:after {
  clear: both;
}

#recent-post.no-thumbnail li {
  padding: 5px 0px;
}

#recent-post li .item-thumbnail {
  opacity: 1;
  float: left;
  margin-left: -85px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#recent-post li .item-thumbnail .thumbnail {
  width: 80px;
  height: 80px;
  display: block;
  position: relative;
  overflow: hidden;
}

.thumbnail-image {
  width: 100%;
  height: 100%;
  display: block;
  background-position: center;
  background-size: cover;
}

#recent-post li .item-thumbnail .thumbnail .thumbnail-none {
  background-image: url("images/thumb-default-small.png");
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
}

#recent-post li .item-inner a, #recent-post li .item-inner .item-category {
  font-size: 0.8rem;
  margin: 0px;
}

#recent-post li .item-inner a a, #recent-post li .item-inner .item-category a, #recent-post li .item-inner a .fa, #recent-post li .item-inner .item-category .fa {
  margin-right: 5px;
}

#recent-post li .item-inner .item-title {
  font-size: 0.8rem;
  text-align: left;
  margin: 0px;
  color: rgba(0, 0, 0, 0.9);
}

#recent-post li .item-inner .item-title a {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#recent-post li:hover .item-thumbnail {
  opacity: 0.8;
}

img.post-thumbnail {
  vertical-align: middle;
  max-height: 80px;
  max-width: 80px;
  padding: 0px;
  border: 0px;
}

.no-border {
  border: 0px !important;
}

/* Overrides */

.container {
  padding: 4em 0;
}

.bg-primary {
  background-image: url(../images/wood.jpg);
}

a {
  color: #7A2119;
  font-weight: bold;
}

a:hover {
  color: #AD8A3B;
}

p a {
  text-decoration: underline;
}

p.post-more-link a {
  text-decoration: none;
}

a .fa {
  color: #E0BF89;
}

.btn-primary {
  color: #fff;
  background-color: #7A2119;
  border-color: #7A2119;
}

.btn-primary:hover {
  color: #7A2119;
  background-color: #fff;
  border-color: #7A2119;
}

.btn-outline-primary {
  color: #7A2119;
  background-color: transparent;
  background-image: none;
  border-color: #7A2119;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #7A2119;
  background-image: none;
  border-color: #7A2119;
}

.navbar-toggler {
  color: #fff;
}

.post-container {
  padding-bottom: 2em;
}

.pagination {
  padding-left: 1em;
}

.p-a-0 .pagination {
  padding-left: 0;
}

.pagination li {
  margin-left: 0;
}

.circle-logo {
  display: inline-block;
  height: 3em;
  width: 3em;
  margin-right: 0.5em;
  background-image: url(../images/smith-circle.svg);
  background-repeat: no-repeat;
  background-size: 3em 3em;
}

.site-name {
  position: relative;
  top: -1em;
}

.text-xs-center {
  text-align: center;
}

.footer-logo {
  display: block;
  height: 12em;
  width: 16em;
  margin: 0 auto;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: 16em 12em;
}

.hljs {
  color: #000;
  background-color: #fff;
  border: 1px solid #ccc;
}

.hljs-number {
  color: #7A2119;
}

.hljs-string {
  color: #000;
}

.pt-2 {
  padding-top: 2rem !important;
}